---
import BaseLayout from "../../layouts/BaseLayout.astro";
---
<BaseLayout title="Blog">
  <ul class="space-y-4">
    <li><a class="font-medium hover:underline" href="/blog/hello">Hello, World (Why Astro?)</a></li>
  </ul>
</BaseLayout>
