---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="Contact">
  <article class="prose dark:prose-invert">
    <h1>Contact</h1>
    <ul>
      <li>Email: <a href="mailto:erangamage@gmail.com">erangamage@gmail.com</a></li>
      <li>LinkedIn: <a href="https://linkedin.com/in/eran-gamage" target="_blank">linkedin.com/in/eran-gamage</a></li>
      <li>GitHub: <a href="https://github.com/erandg" target="_blank">github.com/erandg</a></li>
    </ul>
  </article>
</BaseLayout>
